ErrorDocument 404 /P5_blog/public/index.php?route=notFound
ErrorDocument 403 /P5_blog/public/index.php?route=forbidden
ErrorDocument 500 /P5_blog/public/index.php?route=errorServer

# Disable directory browsing 
Options -Indexes 

# Deny access to files with extensions
<FilesMatch "\.(pdf|php|json|lock|md|gitignore|sql)$">
Order allow,deny
Deny from all
</FilesMatch>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Allow access to index.php
<FilesMatch "^index.php$">
Order allow,deny
Allow from all
</FilesMatch>

# Allow access to CV.pdf
<FilesMatch "^CV.pdf$">
Order allow,deny
Allow from all
</FilesMatch>

RewriteEngine On
RewriteBase /P5_blog/

RewriteCond %{THE_REQUEST} /public/([^\s?]*) [NC]
RewriteRule ^ %1 [L,NE]

RewriteRule ^((?!public/).*)$ public/$1 [L,NC]