# AuthName "[...]"
# AuthType Basic
# AuthUserFile "...\...\...\...\.htpasswd"
# Require valid-user

Options +FollowSymlinks 
RewriteEngine off
# 

# RewriteCond %{REQUEST_FILENAME} !-f
# RewriteCond %{REQUEST_FILENAME} !-d

# RewriteRule ^article-([0-9]+)$     public/index.php?route=article&articleId=$1
# TRAVAUX
RewriteRule ^article-([0-9]+)/?([a-z0-9]+=.+)?$     public/index.php?route=article&articleId=$1&$2 [NC]
RewriteRule ^([a-z0-9]+)$                           public/index.php?route=$1 [NC]
RewriteRule ^([a-z0-9]+)\+?([a-z0-9]+=.+)?$         public/index.php?route=$1&$2 [NC]
# RewriteRule ^([a-z0-9]+)/(.+)?$                                  public/index.php?route=$1$2 [NC]



# RewriteRule ^([a-z0-9]+\?)(.+)?$         public/index.php?route=$1 [NC]

ErrorDocument 404 /P5_blog/public/index.php?route=notFound
ErrorDocument 403 /P5_blog/public/index.php?route=forbidden
ErrorDocument 500 /P5_blog/public/index.php?route=errorServer

# Disable directory browsing 
Options -Indexes 

# Deny access to files with extensions
<FilesMatch "\.(pdf|jpg|jpeg|png|php|json|lock|md|gitignore|sql)$">
Order allow,deny
Deny from all
</FilesMatch>

# Deny access to filenames starting with dot(.)
<FilesMatch "^\.">
Order allow,deny
Deny from all
</FilesMatch>

# Allow access to index.php
<FilesMatch "^index.php$">
Order allow,deny
Allow from all
</FilesMatch>

# Allow access to CV.pdf
<FilesMatch "^CV.pdf$">
Order allow,deny
Allow from all
</FilesMatch>

# Password protect files
#<FilesMatch "^()*$">
#AuthType Basic
#AuthName "Mypassword"
#AuthUserFile <Full Server Path to .htpasswd file>/.htpasswd
#Require valid-user
#</FilesMatch>