{% extends 'base.twig' %}

{% import 'twigMacro/formMacro.twig' as form %}

{% block content %}

<section class="container-fluid container-md ps-5">
    <h2> Modifier le commentaire </h2>
    <div class="col-md-6">
        <form method="post" action="?route=adminEditComment&commentId={{ post.get('id') }}">
            <div class="row">
                {{ form.textarea('Modifier','comment', 'commentContent', {errors: errors.comment, value: post.get('comment'), help: '0/500'}) }}
                {{ form.submit('Valider', {position: 'me-auto'}) }}
            </div>
        </form>                       
    </div>
</section>

{% endblock %}