<!-- Waiting for Twig -->
<!DOCTYPE html>
<html lang="fr" class="h-100">
    <head>
        <meta charset="UTF-8" />
        <base href="http://localhost/P5_blog/public/">
        <link rel="stylesheet" href="css/bootstrap.min.css">
        <link rel="stylesheet" href="css/style.css">
        {% block head %}{% endblock %}
    </head>
    <body class="d-flex flex-column h-100">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark bg-dark">
                <div class="container-fluid">
                <a class="navbar-brand" href="#">LOGO</a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav mb-2 mb-lg-0 w-100 px-2">
                        <li class="nav-item">
                            <a class="nav-link" href="?">Accueil</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?route=articles">Les articles</a>
                        </li>
                        <li class="nav-item ms-auto">
                            <a class="nav-link" href="?route=register">Inscription</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="?route=login">Connexion</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </header>
        <div class="container" id="content">
        {% block content %}{% endblock %}
        </div>
        <footer class="bg-light py-4 footer mt-auto">
            <div class="container d-flex">
                <a href="#" class="p-2">Github</a>
                <a href="#" class="p-2">Linkedin</a>
                <a href="#" class="p-2">Twitter</a>
            </div>
        </footer>
        <script src="js/bootstrap.min.js"></script>
    </body>
</html>

