{% extends 'base.twig' %}

{% block content %}

<div class="d-flex">
    <div class="m-auto fs-2">Accès interdit : 403 <box-icon type='solid' name='face-mask'></box-icon></div>
</div>

{% endblock %}

