{% extends 'base.twig' %}

{% block content %}

<div class="d-flex">
    <div class="m-auto fs-2">Problème de connexion au serveur : 500</div> 
</div>

<div class="d-flex">
    <div class="m-auto text-center">{{ message }}</div>  
</div>

{% endblock %}
